{% extends "base.html" %}
<article>{% block content %}
    <h1 style="font-weight: 600;width: 100%;display: flex;flex-direction: column;justify-content: flex-end;align-items: flex-start;background: linear-gradient(0deg, #0000ff8a, #ff000075), url('https://c.tenor.com/QZG9CftjeQQAAAAd/abstract-pattern.gif');color: white;padding: 40px 108px;box-sizing: content-box;margin-left: -108px;height: 240px;margin-top: 0px;margin-bottom: 32px;font-size: 48px;letter-spacing: -3px;background-size: cover;">Welcome Page</h1>
            My Project 4 is meant to demonstrate the use of SQLAlchemy through Flask, as well as combine all we've learned throughout the semester.<br><br>You can register as a new User, login, and click the top-right dropdown button to see more options such as managing your profile, account, and other options if you're an admin user. <br><br>The main purpose of this assignment is to mimic an actual banking service and upload CSV files that present withdraws and deposits.
{% endblock %}
</article>
